body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: gray;
    text-align: center;
}

p {
    color: black;
    text-align: center;
}

nav {
    background-color: rgb(17, 164, 223); /* Fond noir pour la barre de navigation */
    color: rgb(243, 96, 218); /* Texte blanc */
    padding: 10px 0; /* Padding pour espacer le contenu du nav */
}

.menu {
    list-style-type: none; /* Enlève les puces */
    margin: 0;
    padding: 0;
    display: flex; /* Utiliser Flexbox pour aligner horizontalement */
    justify-content: center; /* Centrer les éléments horizontalement */
}

.menu li {
    margin: 0 15px; /* Espacement horizontal entre les éléments du menu */
}

.menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255); /* Couleur du texte des liens */
    padding: 10px 20px; /* Espacement intérieur des liens */
    display: block; /* Assure que le lien occupe l'espace de son conteneur */
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.menu li a:hover {
    background-color: rgb(248, 80, 220); /* Couleur de fond au survol */
    color: white; /* Couleur du texte au survol */
}

.centered-link {
    text-align: center;
}

@media (max-width: 600px) {
    img {
        width: 100%; /* Image prend toute la largeur de l'écran */
        height: auto; /* La hauteur s'ajuste automatiquement */
    }
}
